@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans|Trirong');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	/* background-color: black; */
}
body {
	background: #000000;
	background: -webkit-linear-gradient(to right, #092531, #000000); 
	background: linear-gradient(to right, #05191e, #000000);
	/* z-index: -1; */
  }
  
h1.title{
	margin-bottom: 20px;
	color: #d1d1d1;
	font: 100 50px 'Oswald', sans-serif;
	text-transform: uppercase;
	word-spacing: 10px;
	letter-spacing: 5px;
	margin-bottom: 50px;
}

p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
	word-spacing: 0.5px;

}

.btn a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    color: #daccd1;
	background-image: linear-gradient(315deg, #000000 0%, #000000 74%),
		linear-gradient(315deg, #24201c 0%,  #375075 74%);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 2px solid transparent;
	border-radius: 16px;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}
.btn a:hover{
	background-image: linear-gradient(315deg, #2c2c2c 0%, #2c2c2c 74%),
		linear-gradient(315deg, #24201c 0%,  #375075 74%);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 2px solid transparent;
	cursor: pointer;
}

.main_container{
	position: relative;
}

.about,
.events,
.contactus,
.ourteam,
.achievements{
	text-align: center;
	padding: 5% 10%;
}
.contactus{
	padding-bottom: 5px;
}


/* NAVIGATION BAR */
.navbar{
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	background: linear-gradient(to right, #030c0f , #0a2a37, #040f12);
	/* backdrop-filter: brightness(60%); */
	z-index: 1000;
}

/* .logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: #fb2274;
} */

.navbar_items ul{
	display: flex;
}

.navbar_items ul li{
	margin: 0 10px;
}

.navbar_items ul li a{
	text-transform: uppercase;
	color: #fff;
}
.navbar_items ul a:hover {
	color: #1662e6;
 }
 .navbar_items ul li a:active {
    color: #1e90ff;
}
.toggle-btn {
	display: none;
	background: none;
	border: none;
	color: white;
	font-size: 24px;
	cursor: pointer;
  }
  
/* NAME AND PHOTO */
.banner_image{
	/* background: url('assets/2.jpeg'); */
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_content{
	text-align: center;
	color: #fff;
	padding: 5% 10%;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 15px;
    white-space: nowrap;
    overflow: visible;
}

.static-text {
    color: #1c8bb7;
    font-weight: bold;
	max-width: fit-content;
}

.dynamic-text {
    display: inline-block;
    color: #1c8bb7;

    font-weight: bold;
}

.cursor {
    display: inline-block;
    font-size: 3rem;
    color: #333;
    animation: blink 0.7s steps(2) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.logo {
    max-width: 200px;
    height: auto;
	border-radius: 100px;
	display: block;
	margin: auto;
	background-image: linear-gradient(315deg, #196a8a 0%, #0d394b 74%),
		linear-gradient(315deg, #165974 0%,  #0d394b 74%);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 4px solid transparent;
}

/* .banner_content h1 span{
	color: #fb2274;
} */


/* .events{
	background: url("6.webp") rgba(95, 87, 87, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

/* ABOUT */
.about p{
	font-size: 16px;
}
.contactus h3{
	padding-top: 50px;
	padding-bottom: 40px;
	color: gray;
}
.social-icons a {
	text-decoration: none;
	color: whitesmoke;
	margin: 0 10px;
	font-size: 1.5rem;
}
  
.social-icons a:hover {
	color: #5f5f5f;
}
  
.diff_services {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.diff_services .diff_services_item {
    width: 30%;
}

.diff_services .diff_services_item img {
    width: 100%;
    margin-bottom: 25px;
}

.diff_services .diff_services_item h3 {
    color: #fb2274;
    margin-bottom: 15px;
}

/* PROJECTS */

/* .ourteam{
	background: #f5f5f5;
} */

/* .ourteam_wrapper{
	display: flex;
	flex-direction: column;
} */

.ourteam_wrapper a {
    color: #3884d6;
    text-decoration: none;
}


.ourteam_wrapper a:hover {
    color: #0056b3;
    text-decoration: underline;
}


.ourteam_wrappera:visited {
    color: #551a8b;
}
.ourteam_wrapper h3{
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 18px;
	color: white;
	text-align: left;
}
.team p{
	padding: 18px;
	color: #cecbcbf4;
	text-align: left;
}
.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ourteam_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_members{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	border: 1px solid ;
  	border-color: #7e8283fd;
	background: #16374450;
	border-radius: 16px;
}
/* .ourteam_wrapper .team_members:hover{
	background-image: linear-gradient(315deg, #1c2535 0%, #12100e 74%);
	background-clip: padding-box;
} */

.ourteam_wrapper .team_members img{
	padding: 20px 20px;
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
	border-radius: 28px;
}

.ourteam_wrapper .team_members:hover img{
	transform: scale(1.1);
}

/* ACHIEVEMENTS */
/* .achieve_content{
	display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.achieve_content .design{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	padding: 0.5rem 1rem;
	background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%),
		linear-gradient(315deg, #24201c 0%,  #375075 74%);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 2px solid transparent;
	border-radius: 1.75rem;

}
.achieve_content .python{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	background-color: #181717;
	background: transparent;
	padding: 0.5rem 1rem;
	background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%),
		linear-gradient(315deg, #24201c 0%,  #375075 74%);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 2px solid transparent;
	border-radius: 1.75rem;
}
.achieve_content .design img{
	margin: auto;
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
	border-radius: 12px;
}
.achieve_content .design:hover{
	transform: scale(1.02);
}
.achieve_content .python:hover{
	transform: scale(1.02);
}
.achieve_content .python img{
	margin: auto;
	width: 60%;
	height: auto;
	transition: all 0.5s ease;
	border-radius: 12px;
}
.achieve_content .team{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.achieve_content h3{
	padding-top: 20px;
	padding-bottom: 0px;
	color: white;
} */
/* .diff_services .diff_services_item:hover img{
	transform: scale(1.1);
} */

/* SKILLS */
.ourteam{
	padding: 20px;
	overflow: hidden;
}
.event-gallery {
    display: flex;
    animation: scroll 10s linear infinite;
	padding: 0 50px;
	
}
.event-gallery h5{
	color: white;
}
.event-item {
    margin: 0 40px;
    display: inline-block;
    transition: transform 0.3s;
}

.event-item img {
    border-radius: 8px;
    width: 80px;
    height: 80px;
}

.event-item:hover {
    transform: scale(1.1);
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% + 100px));
    }
}
/* CONTACT US */
.form_wrapper .form{
	margin-bottom: 15px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form_wrapper .form_input input[type="text"] {
    width: 100%;
    padding: 10px 180px;
    color: rgb(219, 218, 218);
    background: transparent;
    border: none;
    border-bottom: 2px solid #375075; 
    font-size: medium;
	border-radius: 4px;
	text-align: center;
	
}
.form_wrapper .form_input input[type="email"] {
    width: 100%;
    padding: 10px 180px;
    color: rgb(219, 218, 218);
    background: transparent;
    border: none;
    border-bottom: 2px solid #375075; 
    font-size: medium;
	border-radius: 4px;
	text-align: center;
}
.form_wrapper .form_input textarea{
	width: 100%;
    color: rgb(219, 218, 218);
    background: transparent;
    border: none;
    border-bottom: 2px solid #375075; 
    font-size: medium;
	border-radius: 4px;
	text-align: center;
	margin-top: 20px;
}

.social-icons p{
	margin-bottom: 5px;
	color: rgb(219, 218, 218);
	font-size: medium;
}
.social-icons p:hover{
	text-decoration: underline;
}

.submitbutton{
	width: 180px;
    height: 35px;
    line-height: 35px;
	font-size: medium;
    color: #daccd1;
	background-image: linear-gradient(315deg, #000000 0%, #000000 74%),
		linear-gradient(315deg, #24201c 0%,  #375075 74%);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 2px solid transparent;
	border-radius: 16px;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}
/* FOOTER */
/* .footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

.footer a{
	color: #fff;
} */
@media screen and (max-width: 1200px) {
	.form_wrapper .form_input input[type="text"] {
		width: 100%;
		padding: 10px 140px;
	}
	.form_wrapper .form_input input[type="email"] {
		width: 100%;
		padding: 10px 140px;
	}
	
}
@media screen and (max-width: 1130px) {
	.form_wrapper .form_input input[type="text"] {
		width: 100%;
		padding: 10px 120px;
	}
	.form_wrapper .form_input input[type="email"] {
		width: 100%;
		padding: 10px 120px;
	}	
}
@media screen and (max-width: 1000px) {
	.form_wrapper .form_input input[type="text"] {
		width: 100%;
		padding: 10px 100px;
	}
	.form_wrapper .form_input input[type="email"] {
		width: 100%;
		padding: 10px 100px;
	}
}
@media screen and (max-width: 920px) {
	/* FORM */
	.form_wrapper .form{
        flex-direction: column;
        align-items: center;
    }
	.form_wrapper .form_input input[type="text"] {
		width: 100%;
	}
	.form_wrapper .form_input input[type="email"] {
		width: 100%;
	}
	.form_wrapper .form_input textarea{
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	/* PROJECTS */
    .ourteam_wrapper {
        flex-direction: column;
        align-items: center;
    }
	.ourteam_wrapper .team_members {
        width: 100%;
		margin-bottom: 60px;
    }
	.ourteam_wrapper .team_members:hover img{
		transform: scale(1.05);
	}
	/* ACHIEVEMENTS */
	.achieve_content .team{
		flex-direction: column;
        align-items: center;
	}
	.achieve_content .design{
		width: 100%;
		margin-bottom: 40px;
		
	}
	.achieve_content .python{
		width: 100%;
		
	}
	/* SKILLS */
	.event-item img {
		border-radius: 2px;
		width: 70px;
		height: 70px;
	}
	.event-item {
		margin: 0 30px;
		display: inline-block;
		transition: transform 0.3s;
	}
}	

@media screen and (max-width: 650px) {

	/* NAVBAR */
	.navbar{
		width: 100%;
		height: 65px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		background-color: black;
		z-index: 1000;
	}
	
	.navbar_items {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: #1b1a1af4; 
		z-index: 1100;
	}
	
	.navbar_items.active {
		display: flex;
	}
	
	.navbar_items ul{
		flex-direction: column;
		text-align: center;
		gap: 20px;
	}
	
	.navbar_items ul li a {
		color: rgb(213, 213, 213);
		text-decoration: none;
		font-size: 1.5rem;
	}
	
	.navbar_items ul li a:hover {
		color: #1e90ff;
	}
	
	.toggle-btn {
		position: fixed;
		top: 20px;
		right: 20px;
		background-color: transparent;
		border: none;
		color: #585858;
		font-size: 2.5rem;
		z-index: 9999;
		cursor: pointer;
		display: block;
	}
	.toggle-btn:hover{
		color: #3a3a3a;
	}

	/* NAME AND PHOTO */
	.banner_content h1{
		font-size: 24px;
	}
		/* FORM */
		.form_wrapper {
			flex-direction: column;
			align-items: center;
		}
}

/* ARROW */
/* .arrow{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #fb2274;
	border-radius: 50%;
	display: none;
}

.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
} */


/* body {
	margin: 0;
	padding: 0;
	background-color: #000;
	padding-bottom: 100px;
  } */
/*   
  #contact {
	width: 100%;
	height: 100%;
	padding-bottom: 100px;
  }
  .title{
	text-align: center;
  }
  /* .section-header {
	text-align: center;
	margin: 0 auto;
	padding: 40px 0;
	font: 300 60px 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 6px;
  } */
  
  /* .contact-wrapper { */
	/* display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	max-width: 900px;
  }
  
  /* Left contact page */
  /* .form-horizontal { */ 
	/*float: left;*/
	/* max-width: 400px;
	font-family: 'Lato';
	font-weight: 400;
  }
  
  .form-control, 
  textarea {
	max-width: 800px;
	max-height: 34px;
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
	margin-top: 10px;
	
  }
  
  .send-button {
	margin-top: 15px;
	height: 34px;
	width: 400px;
	overflow: hidden;
	transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
	width: 400px;
	height: 34px;
	transition: all .2s ease-in-out;
  }
  
  .send-text {
	display: block;
	margin-top: 10px;
	font: 700 12px 'Lato', sans-serif;
	letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
	transform: translate3d(0px, -29px, 0px);
  } */
  
  /* Begin Right Contact Page */
  /* .direct-contact-container {
	max-width: 400px;
  } */
  
  /* Location, Phone, Email Section */
  /* .contact-list {
	list-style-type: none;
	margin-left: -30px;
	padding-right: 20px;
  }
  
  .list-item {
	line-height: 4;
	color: #aaa;
  }
  
  .contact-text {
	font: 300 18px 'Lato', sans-serif;
	letter-spacing: 1.9px;
	color: #bbb;
  }
  
  .place {
	margin-left: 62px;
  }
  
  .phone {
	margin-left: 56px;
  }
  
  .gmail {
	margin-left: 53px;
  }
  
  .contact-text a {
	color: #bbb;
	text-decoration: none;
	transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
	color: #fff;
	text-decoration: none;
  } */
  
  
  /* Social Media Icons */
  /* .social-media-list {
	position: relative;
	font-size: 22px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 0;
  }
  
  .social-media-list li a {
	color: #fff;
  }
  
  .social-media-list li {
	position: relative; 
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 10px 3px;
	line-height: 60px;
	border-radius: 50%;
	color: #fff;
	background-color: rgb(27,27,27);
	cursor: pointer; 
	transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	opacity: 0;
	box-shadow: 0 0 0 1px #fff;
	transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
	background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
	opacity: 1;  
	transform: scale(1.12);
	transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
	color: #000;
  }
  
  .copyright {
	font: 200 14px 'Oswald', sans-serif;
	color: #555;
	letter-spacing: 1px;
	text-align: center;
  }
  
  hr {
	border-color: rgba(255, 255, 255, 0.6);
  } */
  
  /* Begin Media Queries*/
  /* @media screen and (max-width: 850px) {
	.contact-wrapper {
	  display: flex;
	  flex-direction: column;
	}
	.direct-contact-container, .form-horizontal {
	  margin: 0 auto;
	}  
	
	.direct-contact-container {
	  margin-top: 60px;
	  max-width: 300px;
	}    
	.social-media-list li {
	  height: 60px;
	  width: 60px;
	  line-height: 60px;
	}
	.social-media-list li:after {
	  width: 60px;
	  height: 60px;
	  line-height: 60px;
	}
  }
  
  @media screen and (max-width: 569px) {
  
	.direct-contact-container, .form-wrapper {
	  float: none;
	  margin: 0 auto;
	}  
	.form-control, textarea {
	  
	  margin: 0 auto;
	}
   
	
	.name, .email, textarea {
	  width: 280px;
	} 
	
	.direct-contact-container {
	  margin-top: 60px;
	  max-width: 280px;
	}  
	.social-media-list {
	  left: 0;
	}
	.social-media-list li {
	  height: 55px;
	  width: 55px;
	  line-height: 55px;
	  font-size: 2rem;
	}
	.social-media-list li:after {
	  width: 55px;
	  height: 55px;
	  line-height: 55px;
	}
	
  }
  
  @media screen and (max-width: 410px) {
	.send-button {
	  width: 99%;
	}
  } */


  /* EXPERIENCE */

.cd-container {
  width: 70%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}



#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #0a2a37;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #246a85, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #163744;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #16374450;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid ;
  border-color: #7e8283fd;
  }
  
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(255,255,255,.7);
  font-size: 13px;
  font-size: 0.8125rem;
}

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}